<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{filekey}} | HGPA</title>
    <meta name="description" content="HGPA's notes on {{filekey}}">
    <link rel="stylesheet" href="/css/hgpa.css" media="screen">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <header><a href="/">HGPA</a></header>
    <article>{{{ markdown }}}</article>
    <div class="gliki-metadata">
      Filename: <a href="https://github.com/hparra/hgpa/blob/master/{{filename}}">{{filename}}</a> <a href="https://github.com/hparra/hgpa/edit/master/{{filename}}">(Edit)</a><br>
      Modified: {{modified_by.author.date}} (<a href="https://github.com/hparra/hgpa/commit/{{modified_by.sha}}">{{modified_by.sha}}</a>)<br>
      Created: {{created_by.author.date}} (<a href="https://github.com/hparra/hgpa/commit/{{created_by.sha}}">{{created_by.sha}}</a>)
    </div>
  </body>
</html>