<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hector Guillermo Parra Alvarez | HGPA</title>
    <meta name="description" content="Programmer and citizen of the World">
    <link rel="stylesheet" href="/css/hgpa.css" media="screen">
  </head>
  <body>
    <header><a href="/">HGPA</a></header>

    <article>
      {{{markdown}}}
    </article>

    <article>
      <table class="gliki-table">
        <tr>
            <th>Subject</th>
            <th>Last Modified</th>
            <th>Created</th>
        </tr>
        {{#each files}}
        <tr>
          <td><a href="{{filekey}}.html">{{filekey}}</a></td>
          <td>{{modified_by.author.date}}</td>
          <td>{{created_by.author.date}}</td>
        </tr>
        {{/each}}
      </table>
    </article>
    
    <div class="gliki-metadata">
      Filename:  {{filename}}<br>
      Modified: {{modified_by.author.date}} (<a href="https://github.com/hparra/hgpa/commit/{{modified_by.sha}}">{{modified_by.sha}}</a>)<br>
      Created: {{created_by.author.date}} (<a href="https://github.com/hparra/hgpa/commit/{{created_by.sha}}">{{created_by.sha}}</a>)
    </div>
  </body>
</html>